:root
{
    --dark-dark-blue: #192653;
    --dark-blue: #254A7F;
    --blue: #375FAA;
    --light-blue: #7D95BA;
    --light-light-blue: #E3F2FF;
    --yellow: #FFCB05;
    --white: #FFFFFF;
    --gray: #939992;
    --red: #C5330B;
}

@font-face 
{
    font-family: quicksand;
    src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face 
{
    font-family: quicksand-light;
    src: url("../fonts/Quicksand-Light.ttf");
}

@font-face
{
    font-family: quicksand-bold;
    src: url("../fonts/Quicksand-Bold.ttf");
}

body
{
    background-color: var(--light-blue);
    margin: 0;
    font-family: quicksand;
}

.container
{
    display: inline-flex;
}

.header
{
    height: 11%;
    width: 100%;
    background-color: var(--dark-dark-blue);
}

.top-header
{
    padding-top: 1%;
    padding-bottom: 1%;
    height: 55%;
}

.bottom-header
{
    background-color: var(--blue);
    height: 45%;
    width: 100%;
}

.search-bar input
{

}

.header-logo img
{
    margin-left: 3rem;
    height: 100%;
    width: auto;
}

.card
{
    background-color: var(--white);
    width: 10%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

.card-image
{
    padding-left: 0%;
    width: 100%;
}

.card-description
{

}

.card-type
{
    font-size: 90%;
    color: var(--gray);
    margin-bottom: 0%;
}

.card-name 
{
    font-size: 160%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.card-stars 
{
    margin-top: 6%;
    margin-bottom: 0%;
}

.card-seller 
{
    font-size: 80%;
    color: var(--gray);
    margin-top: 2%;
    margin-bottom: 0%;
}

.card-buy
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
}

@media screen and (max-width: 1200px)
{
    .card-buy
    {
        flex-direction: column;
        flex-wrap: nowrap;
    }    
}

.card-price 
{
    font-size: 130%;
    color: var(--red);
    font-family: quicksand-bold;
}

.card-original-price 
{
    font-size: 110%;
    text-decoration: line-through;
    color: var(--gray);
    font-family: quicksand-light;
    padding-left: 10%;
    padding-right: 10%;
}

.card-add-cart 
{
    background-color: var(--light-light-blue);
    color: var(--red);
    font-size: 120%;
    width: 50%;
    min-width: 60px;
    height: 2em;
    border-style: none;
}

.category
{
    background-color: var(--yellow);
    width: 8%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.category-image
{
    width: 80%;
}

.category-name
{
    font-size: 120%;
    margin-top: 10%;
    margin-bottom: 0%;
}

.category-quantity
{
    margin-top: 10%;
    margin-bottom: 0%;
}
