body{
    background-color: #7D95BA;
    margin: 0;
}

.container
{
    display: inline-flex;
}

.header
{
    height: 11%;
    width: 100%;
    background-color: #192653;
}

.top-header
{
    padding-top: 1%;
    padding-bottom: 1%;
    height: 55%;
}

.bottom-header
{
    background-color: #375FAA;
    height: 45%;
    width: 100%;
}

.search-bar input
{

}

.header-logo img
{
    margin-left: 3rem;
    height: 100%;
    width: auto;
}

.card
{

}

.card-image
{

}

.card-description
{

}

.card-type
{

}