@font-face {
  font-family: quicksand;
  src: url(./fonts/Quicksand-Light.ttf);
}

@font-face {
  font-family: quicksand;
  src: url("./fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: quicksand-light;
  src: url("./fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: quicksand-bold;
  src: url("./fonts/Quicksand-Bold.ttf");
}

@media screen and (max-width: 1200px) {
  .card-buy {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

:root {
  --dark-dark-blue: #192653;
  --dark-blue: #254a7f;
  --blue: #375faa;
  --light-blue: #7d95ba;
  --light-light-blue: #e3f2ff;
  --yellow: #ffcb05;
  --white: #ffffff;
  --gray: #939992;
  --red: #c5330b;
  --green: #2dbc44;
}

/* background colors  */

.background-dark-dark-blue {
  background-color: var(--dark-dark-blue);  
}

.background-dark-blue {
  background-color: var(--dark-blue);  
}

.background-blue {
  background-color: var(--blue);  
}

.background-light-blue {
  background-color: var(--light-blue);  
}

.background-light-light-blue {
  background-color: var(--light-light-blue);  
}

.background-yellow {
  background-color: var(--yellow);  
}

.background-white {
  background-color: var(--white);  
}

.background-gray {
  background-color: var(--gray);  
}

.background-red {
  background-color: var(--red);  
}

.background-green {
  background-color: var(--green);  
}

/* end background colors */

body {
  background-color: var(--light-blue);
  margin: 0;
  font-family: quicksand;
}

.container {
  display: block;
  width: 100%;
}

.btn {
  overflow: auto;
}

/* Header CSS */

.header {
  height: 10rem;
  width: 100%;
  background-color: #192653;
}

.top-header {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 60%;
  width: 100%;
  font-size: 100%;
}

.bottom-header {
  background-color: #375faa;
  height: 40%;
  width: 100%;
  font-size: 120%;
}

.search-bar input {
  height: 3rem;
  width: 80%;
  max-width: 80%; 
}

.search-bar button {
  overflow: auto;
  height: 3rem;
  max-height: 100%;
  width: 10%;
  max-width: 10%;
  background-color: var(--dark-blue);
  border: none;
  cursor: pointer;
}

.header-logo {
  float: left;
  width: 20%;
  height: 100%;
  overflow: auto;
}

.search-bar {
  overflow: auto;
  float: left;
  width: 30%;
  max-width: 30%;
  height: 100%;
}

.header-user {
  float: right;
  width: 25%;
  height: 100%;
  color: #ffcb05;
  font-family: quicksand;
  font-size: 140%;
  display: flex;
  align-items: center;
  overflow: auto;
}

.header-user img {
  overflow:auto;
  border-radius: 50%;
  height: 100%;
  width: auto;
}

.header-logo img {
  margin-left: 3rem;
  height: 100%;
  width: auto;
}

.header-categories {
  float: left;
  height: 100%;
  width: 30%;
  max-width: 30%;
  display: flex;
  align-items: center;
}

.header-categories button {
  border: none;
  background-color: #192653;
  color: white;
  cursor: pointer;
  width: 55%;
  max-width: 55%;
  height: 80%;
  max-height: 80%;
  margin-left: 15%;
  text-overflow: ellipsis;
}

.cart {
  margin-top: 0.8%;
  align-items: center;
  font-family: quicksand;
  color: #ffcb05;
  max-height: 100%;
  float: left;
  width: 10%;
  max-width: 10%;
  height: 100%;
  text-align: center;
  font-size: 150%;
}

.cart i {
  margin-right: 5%;
}

.header-options {
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-options button {
  border: none;
  color: #ffcb05;
  background-color: #375faa;
  font-family: quicksand;
  cursor: pointer;
  width: 15%;
  max-width: 55%;
  height: 80%;
  max-height: 80%;
  margin-left: 15%;
  text-overflow: ellipsis;
}

/* End Header CSS */

/* Card CSS */
.card {
  background-color: var(--white);
  width: 17%;
  padding: 0.5%;
  overflow: auto;
}

.card-image {
  padding-left: 0%;
  width: 100%;
}

/*
.card-description
{

}
*/

.card-type {
  font-size: 90%;
  color: var(--gray);
  margin-bottom: 0%;
}

.card-name {
  font-size: 160%;
  margin-top: 5%;
  margin-bottom: 0%;
}

.card-stars {
  margin-top: 6%;
  margin-bottom: 0%;
}

.card-seller {
  font-size: 80%;
  color: var(--gray);
  margin-top: 2%;
  margin-bottom: 0%;
}

.card-buy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0%;
}

.card-price {
  font-size: 130%;
  color: var(--red);
  font-family: quicksand-bold;
}

.card-original-price {
  font-size: 110%;
  text-decoration: line-through;
  color: var(--gray);
  font-family: quicksand-light;
  padding-left: 10%;
  padding-right: 10%;
}

.card-add-cart {
  background-color: var(--light-light-blue);
  color: var(--red);
  font-size: 120%;
  width: 50%;
  min-width: 60px;
  height: 2em;
  border-style: none;
  cursor: pointer;
  overflow: auto;
}

.category {
  background-color: var(--yellow);
  width: 12%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.category-image {
  width: 80%;
}

.category-name {
  font-size: 120%;
  margin-top: 10%;
  margin-bottom: 0%;
}

.category-quantity {
  margin-top: 10%;
  margin-bottom: 0%;
}
/* End Card CSS */

/* Slides CSS */

.slides {
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  text-align: center;
  align-content: center;
  align-items: center;
}

.slides img{
  height: 60%;
  width: auto;
}

/* End Slides CSS */

/* Sign In Up CSS */

.sign-in-out {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 100rem;
}

.sign-in {
  overflow: auto;
  font-family: quicksand-bold;
  font-size: xx-large;
  background-color: var(--light-light-blue);
  float: left;
  width: 46%;
  height: 100%;
  margin-left: 3%;
  padding: 1% 2% 1% 2%;
}

.sign-up {
  overflow: auto;
  font-family: quicksand-bold;
  font-size: xx-large;
  background-color: var(--light-light-blue);
  float: right;
  width: 46%;
  height: 100%;
  margin-right: 3%;
  padding: 1% 2% 1% 2%;
}

.sign-in img {
  max-width: 100%;
  height: 70rem;
  overflow: auto;
}

.sign-in .form-sign-in {
  font-size: large;
}

.sign-in .input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.sign-in .icon {
  padding: 2.5%;
  background: var(--dark-blue);
  color: white;
  min-width: 7%;
  text-align: center;
}

.sign-in .input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.sign-in .input-field:focus {
  border: 2px solid var(--dark-blue);
}

.sign-in .btn {
  background-color: var(--dark-dark-blue);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  float: right;
}

.btn:hover {
  opacity: 1;
}

.sign-up .form-sign-up {
  font-size: large;
}

.sign-up .input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.sign-up .icon {
  padding: 2.5%;
  background: var(--green);
  color: white;
  min-width: 7%;
  text-align: center;
}

.sign-up .input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.sign-up .input-field:focus {
  border: 2px solid var(--green);
}

.sign-up .btn {
  background-color: var(--green);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  float: right;
}

.sign-up h1 {
  font-family: quicksand-bold;
  font-size: xx-large;
}

/* End Sign In Up CSS */

/* Payment CSS */
.payment {
  font-family: quicksand-bold;
  font-size: xx-large;
  background-color: var(--light-light-blue);
  float: left;
  width: 93.5%;
  height: 100%;
  margin: 3%;
}

.payment .btn-cart {
  background-color: var(--yellow);
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  float: left;
  margin-left: 35%;
}

.payment .btn-finish {
  background-color: var(--green);
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  float: right;
}
/* End Payment CSS */

/* Categories CSS */

.categories {
  font-family: quicksand;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 45%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* End Categories CSS */

/* Featured Products CSS */

.featured-products {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* End Featured Products CSS */

.titles {
  font-family: quicksand-bold;
  color: var(--dark-dark-blue);
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 0%;
  font-size: 150%;
}

/* Cataloge CSS */

.catalogue {
  display: flex;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  padding-left: 3%;
  padding-right: 3%;
  gap: 4%;
}

.all-products .card {
  margin-bottom: 5%;
  width: 22%;
}

.categories-menu {
  width: 25%;
  background-color: var(--light-light-blue);
  border-radius: 5px;
  height: 50%;
  margin-left: 2%;
}

.categories-menu-item {
  align-items: center;
  text-align: center;
}

.catalogue-title {
  font-family: quicksand-bold;
  color: var(--dark-dark-blue);
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: left;
  margin-left: 29.5%;
}

.btn-categories-menu-item {
  background-color: var(--dark-dark-blue);
  color: var(--white);
  border-color: var(--blue);
  border-radius: 5px;
  font-size: 120%;
  width: 90%;
  min-width: 60px;
  height: 2.5em;
  border-style: solid;
  cursor: pointer;
  margin: 5%;
}

.catalogue-navigate {
  float: right;
  margin-right: 3%;
  font-family: quicksand-bold;
  font-size: 150%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 5%;
}

.catalogue-navigate a {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate-text {
  padding-left: 67.5%;
  font-family: quicksand-bold;
  font-size: 200%;
}

/* End Cataloge CSS */

/* Footer CSS */

.footer {
  font-family: quicksand;
  height: 70%;
  width: 100%;
  border-radius: 2px;
}

#footer-ads2 {
  width: 100%;
  height: 25%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.fads {
  width: 30%;
  height: 90%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
}

.footer-info {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 5%;
  overflow: auto;
}

.footer-links {
  width: 100%;
  height: 10%;
  align-items: center;
  text-align: center;
  display: flex;
  padding-left: 15%;
  padding-right: 5%;
}

.navigation-top-text {
  font-family: quicksand-bold;
  color: var(--dark-dark-blue);
  font-size: 200%;
}

#fads-img {
  margin-top: 15%;
  width: 24%;
  height: 100%;
  font-size: 450%;
  background: -webkit-linear-gradient(#375faa, var(--green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fads-text {
  width: 70%;
  height: 100%;
  text-align: justify;
  color: var(--white);
}

#fads-text h3 {
  font-size: 150%;
  font-family: quicksand-bold;
  color: var(--dark-dark-blue);
  overflow: auto;
}

hr {
  width: 100%;
  margin: auto;
}

#finfo {
  height: 80%;
  width: 32%;
  color: var(--dark-dark-blue);
  text-align: justify;
  padding-left: 1%;
}

#finfo1 {
  height: 80%;
  width: 32%;
  color: var(--dark-dark-blue);
  text-align: justify;
  padding-left: 4%;
  overflow: auto;
}

#finfo1 a {
  text-decoration: none;
}

#finfo a {
  text-decoration: none;
}

#finfo-logo {
  width: 45%;
}

.flinks {
  padding-right: 15%;
  width: 100%;
}

#cc /* Credit Cards */ {
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  text-align: center;
  float: left;
  height: 70%;
}

#cc img {
  width: 20%;
  height: 80%;
}

#sm /* Social Media */ {
  font-size: 150%;
  color: var(--dark-dark-blue);
}

#sm i {
  padding-right: 5%;
}

.divider {
  border-top: 1px solid var(--light-light-blue);
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* End Footer CSS */

/* Main Ads CSS */

#main-ads {
  font-family: quicksand;
  font-size: 110%;
  margin-top: 5%;
  width: 100%;
  height: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.mads {
  font-family: quicksand;
  width: 45%;
  background-color: var(--light-light-blue);
  height: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-dark-blue);
  text-align: justify;
  padding-left: 3%;
  padding-top: 2%;
}

.mads-button {
  font-family: quicksand;
  margin-top: 20%;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  color: var(--white);
  background-color: var(--dark-blue);
  cursor: pointer;
  border: none;
}

.mads-note {
  font-family: quicksand;
  background-color: var(--red);
  padding: 1%;
  color: var(--white);
  padding-left: 2%;
  padding-right: 2%;
  border: none;
  border-radius: 5px;
}

#mads-left {
  font-family: quicksand;
  width: 60%;
  height: 100%;
  margin-bottom: 5%;
}

#mads-left h2 {
  font-size: 200%;
  overflow: auto;
}

#mads-right {
  font-family: quicksand;
  width: 40%;
  height: 100%;
}

#mads-right img {
  height: 20rem;
  width: 100%;
  object-fit: contain;
}

/* End Main Ads CSS */


/* Item Page CSS */

#item-page-container {
  font-family: quicksand;
  padding: 2%;
  margin-top: 2%;
  background-color: var(--light-light-blue);
  height: 100%;
  width: 100%;
  border-radius: 1%;
}

#item-container{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin-bottom: 4%;
  overflow: auto;
}

#item-img {
  float: left;
  margin-left: 10%;
  height: 100%;
  width: 30%
}

#item-img img{
  height: 100%;
  border-radius: 10px;
}

#item-info {
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 100%;
  width: 45%;
  float: right;
  margin-right: 10%;
  padding-bottom: 1%;
}

#related-items {
  height: 40%;
  width: 100%;
}

#item-page-title {
  margin-left: 10%;
}

#itemAddCart {
  margin-top: 10%;
}

#itemAddCart button{
  margin-left: 5%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
  border-radius: 5%;
  border-style: none;
}

#itemAddCart input{
  text-align: center;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border-style: solid;
  border-radius: 15px;
  width: 30%
}

.item-price {
  color: var(--green);
}
/* End Item Page CSS */

/* Admin page */

.admin-page {
  font-family: quicksand-bold;
  font-size: large;
  background-color: var(--light-light-blue);
  width: 46%;
  margin-left: 3%;
  padding: 1% 2% 1% 2%;
}

.admin-form {
  font-family: quicksand-bold;
  font-size: large;
  background-color: var(--white);
  margin-left: 3%;
  padding: 1% 2% 1% 2%;

}
/* End Admin Page */
